<h1>users/indexページ</h1>

<h1>User info</h1>
  <%= form_with model: @user do |f| %>
    <h4>name</h4>
    <%= f.text_field :name %>
    
    <h4>introduction</h4>
    <%= f.text_area :introduction %>
    
    <%= f.submit 'edit' %>
  <% end %>

  
<h1>New book</h1>
<%= form_with model: @book do |f| %>
    
    <h4>title</h4>
      <%= f.text_field :title %>
    
    <h4>opinion</h4>
      <%= f.text_area :body %>
      
    <%= f.submit 'Create Book' %>
  
  <% end %>
  
<h1>Users</h1>
<% @users.each do |user| %>
  <p>image</p>
  <p>userの画像表示</p>
  
  <p>name</p>
  <span><%= user.name %></span>
  
  <p>showリンク</p>

<% end %>
  